
# üìò Introducci√≥n a SQL

**SQL (Structured Query Language)** es un lenguaje dise√±ado para administrar y manipular bases de datos relacionales.

Con SQL podemos:
- Crear y modificar bases de datos y tablas.
- Insertar, actualizar y eliminar registros.
- Consultar informaci√≥n con gran flexibilidad.

### üîπ Comparaci√≥n entre algunos sistemas de bases de datos

| Sistema      | Caracter√≠sticas principales |
|--------------|-----------------------------|
| **SQLite**  | Ligero, no requiere servidor, ideal para desarrollo local o apps peque√±as. |
| **MySQL**   | Muy usado en aplicaciones web, r√°pido, soporta grandes vol√∫menes de datos. |
| **PostgreSQL** | Robusto, orientado a est√°ndares, soporta operaciones avanzadas, ideal para proyectos complejos. |
| **Otros (Oracle, SQL Server)** | Usados en entornos empresariales, con alta seguridad y escalabilidad. |


# üîó Conexi√≥n a la Base de Datos

En este notebook trabajaremos con **SQLite**, ya que no requiere instalaci√≥n de un servidor y es muy f√°cil de usar.

A continuaci√≥n, nos conectamos a un archivo `.db` que contiene la base de datos de ejemplo.

In [1]:

import sqlite3
import pandas as pd

# Conexi√≥n a la base de datos (si no existe, se crea un archivo nuevo)
conn = sqlite3.connect("Chinook_Sqlite.sqlite")
cursor = conn.cursor()

# Verificamos que la conexi√≥n est√° funcionando
cursor.execute("SELECT sqlite_version();")
print("Versi√≥n de SQLite:", cursor.fetchone()[0])

Versi√≥n de SQLite: 3.50.2


# üóÇÔ∏è Explorando la Base de Datos

Antes de empezar a hacer consultas, es importante conocer qu√© tablas existen en la base de datos.

Tambi√©n podemos visualizar el **diagrama entidad-relaci√≥n (ERD)** para entender c√≥mo se relacionan las tablas.

üëâ Aqu√≠ puedes insertar el diagrama ERD de tu base de datos (ejemplo en Markdown):

```markdown
![Diagrama ERD](Sprint8_1\SQL\Diagrama_ER)
```

In [2]:

# Listar todas las tablas de la base de datos
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tablas en la base de datos:")
for row in cursor.fetchall():
    print("-", row[0])

Tablas en la base de datos:
- Album
- Artist
- Customer
- Employee
- Genre
- Invoice
- InvoiceLine
- MediaType
- Playlist
- PlaylistTrack
- Track

Asumamos que tenemos una tabla que se llama cliente con las siguientes columnas


| ID | nombre          | edad |pais  |
| -- | -------------- | --- | --------- |
| 1  | Juan P√©rez     | 28  | Colombia  |
| 2  | Ana G√≥mez      | 22  | M√©xico    |
| 3  | Jos√© Ram√≠rez   | 35  | Colombia  |
| 4  | Mar√≠a L√≥pez    | 30  | Argentina |
| 5  | John Smith     | 40  | USA       |
| 6  | Juliana Torres | 27  | Colombia  |
| 7  | Pedro S√°nchez  | 24  | Chile     |


# üîç Sentencia SELECT

La sentencia `SELECT` se utiliza para consultar datos de una o varias tablas.

### Ejemplos:
- Seleccionar todas las columnas:
```sql
SELECT * FROM clientes;
```

- Seleccionar columnas espec√≠ficas:
```sql
SELECT nombre, edad FROM clientes;
```

- Contar registros:
```sql
SELECT COUNT(*) FROM clientes;
```

- Usar alias para renombrar columnas:
```sql
SELECT nombre AS NombreCliente, edad AS EdadCliente FROM clientes;
```

- Seleccionar valores √∫nicos:
```sql
SELECT DISTINCT pais FROM clientes;
```

In [3]:
try:
    cursor.execute("SELECT * FROM Customer LIMIT 5;")
    query = "SELECT * FROM Customer LIMIT 5;"
    df = pd.read_sql_query(query, conn) 
    display(df)
except Exception as e:
    print("Ejemplo: la tabla 'Customer' no existe en esta BD.")
    print("Error:", e)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Lu√≠s,Gon√ßalves,Embraer - Empresa Brasileira de Aeron√°utica S.A.,"Av. Brigadeiro Faria Lima, 2170",S√£o Jos√© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,K√∂hler,None,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,Fran√ßois,Tremblay,None,1498 rue B√©langer,Montr√©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bj√∏rn,Hansen,None,Ullev√•lsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,Franti≈°ek,Wichterlov√°,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4


# üéØ Sentencia WHERE

La cl√°usula `WHERE` permite filtrar registros seg√∫n condiciones.

### Ejemplos:
- Seleccionar clientes mayores de 30 a√±os:
```sql
SELECT * FROM clientes WHERE edad > 30;
```

- Seleccionar clientes con edad entre 20 y 40 a√±os:
```sql
SELECT * FROM clientes WHERE edad BETWEEN 20 AND 40;
```

- Seleccionar clientes cuyo pa√≠s est√© en una lista:
```sql
SELECT * FROM clientes WHERE pais IN ('Colombia', 'M√©xico', 'Argentina');
```

- Buscar coincidencias parciales con LIKE:
```sql
SELECT * FROM clientes WHERE nombre LIKE 'A%';
```


# üìù Ejercicios Propuestos

1. Selecciona todos los registros de la tabla `Employee`.  
2. Muestra solo los nombres y edades de los empleados.  
3. Cuenta cu√°ntos empleados hay en la tabla.  
4. Selecciona los empleados cuya edad sea mayor a 25.  
5. Selecciona los empleados cuyo pa√≠s sea "Colombia".  
6. Selecciona los empleados cuyo nombre empiece con la letra **J**.  

üëâ Intenta resolverlos escribiendo las consultas en celdas nuevas debajo.

In [ ]:
#Resuelve los ejercicios a continuaci√≥n